/* ==========================================================================
 * Buttons
 * ========================================================================== */

button {
  @apply --reset;
}

.c-button {
  border: 1px solid var(--color-accent);
  border-radius: 100px;
  color: var(--color-accent);
  display: inline-block;
  font-family: var(--font-family-default);
  font-size: 1em;
  padding: em(var(--spacing-sm)) em(var(--spacing-med));
  transition: background-color var(--transition-duration-default) var(--transition-timing-default);

  &:hover {
    background-color: var(--color-accent);
    color: #fff;
  }
}
