/* ==========================================================================
 * Typography
 * ========================================================================== */

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-default);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-default);
}

p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: var(--spacing-med);
  }
}
