/* ==========================================================================
 * Variables
 * ========================================================================== */

:root {
  --spacing-xl: 48px;
  --spacing-lg: 36px;
  --spacing-med: 24px;
  --spacing-sm: 12px;
  --spacing-xs: 6px;

  --reset: {
    all: initial;
  }

  --clearfix: {
    clear: both;
    content: "";
    display: table;
  }

  --disabled: {
    opacity: 0.5;
    pointer-events: none;
  }
}
